body, html {
    height: 100%;
    margin: 0;

}
body {
    font-family: 'Montserrat';
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; 
    background-color: #ffae77;
}
.bg, .bg2 {
    width: 100%;
    height: 100%;
    position: absolute;

}
.bg {
    z-index: -1;
    background-color: #ff7618;
    -webkit-clip-path: polygon(59% 68%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(59% 68%, 100% 0, 100% 100%, 0 100%);
}
.bg2 {
    z-index: -2;
    background-color: #ff9045;
    -webkit-clip-path: polygon(58% 58%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(58% 58%, 100% 0, 100% 100%, 0 100%);

}
.container {
    display: grid;
    grid-template-columns: 50% auto;
    height: auto;
    align-self: center;
    margin: 0 50px;

}
ul {
    list-style-type: none;
    perspective: 1000px;
}
ul li {
    display: grid;
    grid-template-columns: 20% auto;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    transform: rotateY(-30deg) rotateX(10deg);
    position: absolute;
    border-bottom: 4px solid rgb(0,0,0,.2);
    mix-blend-mode: multiply;
}
ul a {
    text-decoration: none;
    color: white;
}
ul li:nth-child(1){
    background-color: #35cf00;
    top: -120px;
    z-index: 2;
}
ul li:nth-child(2){
    background-color: #00a0cf;
    top: -20px;
    z-index: 1;
}
ul li:nth-child(3){
    background-color: #9a00cf;
    top: 80px;

}
ul li:nth-child(4){
    background-color: #d40033;
    top: 180px;
}
/** Animation Part **/
ul li:hover {
    transform: rotateY(0deg) rotateX(0deg) scale(1.4);
    transition: transform .4 ease-out;
}