body {
	font-family: 'Karla', sans-serif, 'Belleza', sans-serif;
	background: #fafafa;
	margin: 0px;
	padding :0px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* LINKS BASIC */
a {
	color: #666666;
}
a:hover {
	color: ;
}
a, a:hover, a:active {
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
a:focus {
    outline: none !important;
    border: none !important;
}

/* LIST BASIC */
ul, menu, dir, dl, dd {
	margin: 0px;
	padding: 0px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

/* HIGHLIGHT BASIC */
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    line-height: 100%;
    font-weight: normal;
}


/* FOR THE SCROLL BAR THE SARILING PAGE */
::-webkit-scrollbar-thumb {
	width: 7px;
	border-left: 3px solid #fafafa;
	border-right: 3px solid #fafafa;
	background-color: #e2d6c6;
}
::-webkit-scrollbar {
	width: 7px;
	border-left: 3px solid #fafafa;
	border-right: 3px solid #fafafa;
	background-color: #f6f6f6;
}


/* TOP LOGO */
nav.top ul.top-logo  {
    font-family: 'Belleza', sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    position: absolute;
    top: 0px;
    left: 15px;
    text-transform: uppercase;
}
nav.top ul.top-logo h1 {
    line-height: 60px;
}
nav.top ul.top-logo h1 a {
    color: #888888;
}


    background-image: url('../pic/logo.png');
    background-size: 100px;


}
nav.top ul.top-logo h1:before {
    display: block;
    float: left;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin: 18px 10px 0px 0px;
    background-color: #e2d6c6;
    color: #fff;
    content: 'Z';
}


/*----- NAVIGATION -----*/

nav.top {
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    display: block;
    background-color: #fafafa;
    overflow: hidden;
}
nav.top ul {
    display: block;
    float: left;
    list-style: none;
    line-height: 60px;
    font-weight: 400;
    text-align: center;
}
nav.top ul li {
    display: inline-block;
}



/* TOP LINKS */

nav.top ul.top-links {
    font-size: 11px;
    width: 100%;
    top: 0px;
    left: 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
nav.top ul.top-links li {
    padding: 0px 15px;
}
nav.top ul.top-links li a {
    position: relative;
    color: #888888;
}
nav.top ul.top-links li a:hover {
    color: #666666;
}
nav.top ul.top-links li a:before {
    content: '';
    position: absolute;
    bottom: -30px;
    margin-left: 50%;
    width: 5px;
    height: 5px;
    background: #e2d6c6;
    display: block;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
nav.top ul.top-links li a:hover:before {
    bottom: -25.5px;

}
nav.top ul.top-links li a:before,
nav.top ul.top-links li a:hover:before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
nav.top ul.top-links li i.fa {
    margin-right: 10px;
    color: #e2d6c6;
}

/* TOP SEARCH */


.top-search {
    text-align: right;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 999999;
    line-height: 60px;
}
.top-search input {
    font-family: 'Karla', sans-serif;
    font-size: 11px;
    outline: none;
    border: none;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.top-search input.sbar {
    position: absolute;
    z-index: 999999;
    top: 0px;
    right: 0px;
    display: block;
    padding: 0px;
    width: 60px;
    height: 60px;
    opacity: 0;
    background-color: #fafafa !important;
}
.top-search input.sbar:hover {
    cursor: pointer;
}
.top-search input.sbar:focus {
    opacity: 1;
    right: 60px;
    width: 200px;
    padding: 0px 20px;
}
.top-search input.sbar:focus {
    cursor: text;
}
.top-search .sbutton {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    text-align: center;
    margin-left: -5px;
    font-size: 16px;
    color: #fff;
    background-color: #755809;
}
.top-search .sbutton:before {
    font-family: 'FontAwesome';
    content: '\f002';
}

/* TEXT STYLES */

section.post-content p { 
	margin-top: 3px; 
}
section.post-content p:first-child {
	margin-top: 0px; 
}
section.post-content big {
	font-size: calc(10px + 13px); 
	line-height: 27px;
}
section.post-content small {
	font-size: 10px; 
}


/*----- MAIN -----*/


main {
    position: relative;
    top: 60px;
    left: 40px;
    margin-bottom: 60px;
    width: calc(100% - 80px);
    min-height: calc(100vh - 304px);
    background-color: #f6f6f6;
    overflow: hidden;
}
.page-border-bottom {
    width: 100%;
    height: 40px;
    bottom: 0px;
    left: 0px;
    position: fixed;
    z-index: 99999;
    background-color: #fafafa;
}

.main-top { display: none; }
.page-1 { display: block; }


/* BANNER */


main .banner {
    overflow: hidden;
    position: relative;
    height: calc(100vh - 260px);
    background: url('http://static.tumblr.com/5a69148146ccb8eda6eb96d4e8e638ba/a0dmjhi/uZxopzhx9/tumblr_static_b4vs0jj23q8kw8wkgc4c44w0s.png');
    background-size: cover;
    background-position: top center;
    box-shadow: inset 0px 0px 0px 2000px rgba(0,0,0,0.4);


}
main .banner img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    opacity: 0;
    z-index: -1;
}
main .banner .banner-info {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
}
main .banner .banner-info h1 {
    font-size: 30px;
    font-family: 'Belleza', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
main .banner .banner-info h2 {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 5px 0px;
}
main .banner .banner-info section {
    font-size: 10px;
    width: 250px;
    letter-spacing: 1px;
    margin: 25px auto 0px;
    line-height: 150%;
}
main .banner .banner-info a.fa {
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    margin-top: 15px;
    padding: 7px 10px;
    background-color: #755809;;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
main .banner .banner-info a.fa:before {
    font-family: 'FontAwesome';
    margin-right: 5px;
}
main .banner .banner-info a.fa:hover {
    background-color: #666666;
}
main .banner .scroll-icon{
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: 0px;
    display: inline-block;
}
main .banner .scroll-icon .icon-mouse {
    width: 40px;
    margin: auto;
    display: block;
    fill: #fff;
}
